<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.domicilio">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Domicilio"
        android:usesCleartextTraffic="true">
        <activity android:name=".view.ActivityDoctorEdit"></activity>
        <activity
            android:name=".view.ActivityAccountConfig"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.AppointmentActivity"
            android:parentActivityName=".view.MainActivity" />
        <activity android:name=".view.AppointmentDetailsActivity" />
        <activity android:name=".view.RegisterDoctor" />
        <activity android:name=".view.ChatMainActivity" />
        <activity android:name=".view.MessageActivity" />
        <activity android:name=".view.ActivityEvalue" />
        <activity android:name=".view.ActivityProfile" />
        <activity
            android:name=".view.RegisterUser"
            android:parentActivityName=".view.ActivityLogin" />
        <activity android:name=".view.ActivityLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.Domicilio.NoActionBar" />
    </application>

</manifest>